.p1 {
  color: #ff0042;
}
.c1 {
  color: #ededed;
}
.c2 {
  color: #cccccc;
}
.c3 {
  color: #595959;
}
.c4 {
  color: #b2b2b2;
}

.b1 {
  color: #000000;
}
.b2 {
  color: #121212;
}
.w {
  color: #ffffff;
}

