.gratuito-bg {
  background-color: #121212;
}
.gratuito-cta {
  display: flex;
  gap: 120px;
  align-items: center;
}

.gratuito-img img {
  height: 100%;
  object-fit: cover;
}

.gratuito-texto {
  padding: 0px 40px 40px 40px;
}

.gratuito-texto h1 {
  margin-top: 60px;
  margin-bottom: 12px;
}

.gratuito-texto p {
  max-width: 400px;
  margin-bottom: 20px;
}

@media (max-width: 960px) {
  .gratuito-cta {
    flex-wrap: wrap;
    gap: 40px;
  }
  .gratuito-texto h1 {
    margin-top: 0px;
  }
}

@media (max-width: 435px) {
  .gratuito-texto h1 {
    font-size: 2rem;
  }
  .gratuito-texto p {
    font-size: 1rem;
  }
}
