.secao1-bg {
  background-color: #121212;
  box-shadow: inset 0 -40px #ffffff;
}

.secao1 {
  display: flex;
  gap: 120px;
  padding-top: 60px;
}

.secao1-text {
  max-width: 420px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.secao1-text h1 {
  margin-bottom: 12px;
}

.secao1-text a {
  margin-top: 12px;
}

.secao1-text p:last-of-type {
  position: relative;
}
.secao1-text p:last-of-type::after {
  content: "";
  display: block;
  background-image: url("../../img/icons/arrow-cta.svg");
  width: 13px;
  height: 14px;
  position: absolute;
  top: 5px;
  left: 290px;
  animation: seta 0.5s ease-in 0s infinite alternate;
}

@keyframes seta {
  from {
    top: 0px;
  }
  to {
    top: 10px;
  }
}

.secao1 img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1080px) {
  .secao1-text h1 {
    font-size: 2rem;
  }
  .secao1 {
    gap: 80px;
  }
}

@media (max-width: 800px) {
  .secao1-bg {
    box-shadow: none;
    padding-bottom: 60px;
  }
  .secao1 {
    flex-wrap: wrap;
    padding-top: 40px;
    gap: 32px;
  }
  .secao1-text {
    order: 2;
  }
  .hero-img {
    order: 1;
    height: 360px;
  }
}

@media (max-width: 431px) {
  .hero-img {
    height: 300px;
  }
  .secao1-text p {
    font-size: 1rem;
  }
  .secao1-text p:last-of-type::after {
    left: 260px;
  }
}

@media (max-width: 325px) {
  .secao1-text p:last-of-type::after {
    left: 120px;
    top: 40px;
  }
  @keyframes seta {
    from {
      top: 20px;
    }
    to {
      top: 25px;
    }
  }
}
